h1 hello world
h2 this is a test
h3 another test
div.header
	div.container
		p {% text "simple_text_field" label="Enter text here", value="This is the default value for this text field" %}
p another test
p yet another test
h2 this is great
h3 it instantly compiles
div#unique
	div.inner
		div.innerInner
			p this is the first line of text
			p this is the second line of text
			p this line has a
				a link
				|inside of it.
a(class='{{ year }}' href='google.com') Google
p testing testing
div.container {% raw_html 'my_custom_html_module' label='Enter HTML here' value='<div>My HTML Block</div>' %}
div.test {% raw_html 'customhtml1' label='this is custom HTML' value='<h3>this takes html</h3>' no_wrapper=True %}
div.textbox {% text 'text' label='This is a text text input' value='I take a string' no_wrapper=True %}
h2 this is a test
 
