/* Footer */
footer {
    height: 600px;
    // overflow: hidden;
    position: relative;
    margin-bottom: -150px;
    padding-top: 150px;
    // margin-top: 150px;
    background-color: #f6f6f6;

    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        * {
            position: relative;
        }
        .column {
            width: 25%;
            display: flex;
            justify-content: center;
            .logo {
                width: 200px;
            }
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $fontGrey;
                        font-weight: 100;
                    }
                }
            }
            .socialLinks {
                display: flex;
                a {
                    text-decoration: none;
                    color: white;
                    margin: 5px;
                    display: inline-block;
                    i {
                        background-color: $fontGrey;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                a:hover {

                }
            }
        }
        .copyright {
            width: 100%;
            padding-top: 100px;
            p {
                text-align: center;
                color: $fontGrey;
            }
        }
    }
}