/* Header */
header {
	.upper {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
		.container {
			display: flex;
			justify-content: space-between;
			.pageLinks {

			}

			.phoneAndSocial {
				display: flex;
				.phone {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 80px;
					a {
						text-decoration: none;
						color: $fontGrey;
						font-size: 20px;
					}
				}
				.socialLinks {

					ul {
						display: flex;
						height: 100%;
						justify-content: center;
						align-items: center;
						li {
							list-style: none;
							// display: inline;
							a {
								background-color: $fontGrey;
								color: white;
								height: 40px;
								width: 40px;
								border-radius: 50%;
								display: inline-block;
								font-size: 24px;
								display: flex;
								justify-content: center;
								align-items: center;
								text-decoration: none;
								margin-right: 10px;
								border: 1px solid transparent;
							}

							a:hover {
								color: $fontGrey;
								border: 1px solid $fontGrey;
								background-color: white;
								opacity: 0.5;	
							}
						}
					}
				}
			}
		}
	} // upper ends


	.divider {
		height: 1px;
		width: 100%;
		background-color: $darkGrey	;
		opacity: 0.7;

	} // divider ends

	.lower {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
		.container {
			display: flex;
			justify-content: space-between;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;

			}
			.mainNav {
				display: flex;
				justify-content: center;
				align-items: center;
				ul {
					display: flex;
					li {
						list-style: none;
						a {
							color: $fontGrey;
							text-decoration: none;
							font-size: 18px;
							text-transform: uppercase;
							padding-right: 8px;
							padding-left: 8px;
						}
					}

					li.hasChild ul {
						display: none;
					}
				}
			}
			.bookAppointment {
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: none;

			}
		}
	} // lower ends
}