/* Header */
header {
	transition: $transition;
	background-color: rgba(255,255,255,0);
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	.container {
		.upper {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 22px;
			.socialIcons {
				display: flex;
				padding-right: 60px;
				li {
					list-style: none;
					background-color: $darkGrey;
					width: 34px;
					height: 34px;
					border-radius: 50%;
					margin: 0 7px;

					a {
						width: 100%;
						height: 100%;
						color: white;
						display: flex;
						justify-content: center;
						align-items: center;
						text-decoration: none;
					}
				}
			}
			.phoneNumber {
				color: $fontGrey;
				text-decoration: none;
				font-size: 2.2em;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 700;
				word-spacing: -2px;

				i {
					font-size: 1.6em;
					padding-right: 16px;
				}
			}

			.logins {
				margin-left: 60px;
				a {
					color: $fontGrey;
					text-decoration: none;
					font-weight: 700;
					text-transform: uppercase;
					transition: $transition;
				}

				a:hover {
					color: $orange;
				}

				a:nth-of-type(2) {
					padding-left: 10px;
				}
			}
		} /* upper ends */

		.lower {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-top: 23px;
			.logo {
				display: block;
			}
			ul {
				li {
					list-style: none;
					display: inline-block;
					margin: 0 18px;
					a {
						color: $fontGrey;
						text-decoration: none;
						font-weight: 700;
						text-transform: uppercase;
						transition: $transition;
					}

					a:hover {
						color: $orange;
					}

				}
				li:last-child {
					margin-right: 0;
				}
				li.dropDown:hover {
					padding-bottom: 50px;
					ul {
						height: auto;
						max-height: 800px;
						box-shadow: $boxShadow;
						padding: 30px 50px;
						// margin-top: 20px;
					}
					ul.resourcesMenu {
						padding: 0;
						padding-top: 30px;
						padding-bottom: 30px;
					}
				}
				li.dropDown {
					position: relative;
					z-index: 5;
					ul {
						height: 0;
						max-height: 0;
						overflow: hidden;
						transition: $transition;
						position: absolute;
						background-color: white;
						left: -130%;			
						right: -130%;
						top: 50px;			
						border-radius: $borderRadius;
						z-index: 4;
						li {
							border-bottom: 2px solid $lightGrey;
							width: 100%;
							margin: 0;
							text-align: center;
							padding-bottom: 20px;
							padding-top: 20px;	
						}
						li:last-of-type {
							border-bottom: none;
						}
					}
					
					ul.resourcesMenu {
						display: flex;
						width: 580px;
						height: 200px;
						flex-wrap: wrap;
						flex-direction: column;
						height: 165px !important;
						left: -230%;
						li {
							width: 50%;
							border-bottom: none;
							padding-top: 10px;
							padding-bottom: 10px;
						}
						li:nth-of-type(1) {
							border-right: 2px solid $lightGrey;
						}
						li:nth-of-type(2) {
							border-right: 2px solid $lightGrey;
						}
						li:nth-of-type(3) {
							border-left: 2px solid $lightGrey;
							a {
								// font-size: 3.1em;
								color: $orange;
							}
						}
						li:nth-of-type(4) {
							border-left: 2px solid $lightGrey;
						}

					}
				}


			}

		} /* lower ends */
	}
}

header.mobile {
	display: none;
	transition: all $transition;
	top: initial;
	bottom: initial;
	left: initial;
	right: initial;
	.container {
		padding-left: 20px;
		padding-right: 20px;
		.lower {
			align-items: center;
			padding-top: 10px;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	} 

	ul.menu {
		width: 100%;
		display: flex;
		opacity: 1;
		transition: all 1s;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: -300%;
		left: 0;
		right: 0;
		bottom: 300%;
		z-index: -99999;
		// max-height: 0;
		// height: 0;
		overflow: hidden;
		li {
			display: list-item;
			font-size: 1.4em;
			margin-bottom: 20px;
		}
	}

	.hamburger {
	  width: 50px;
	  height: 45px;
	  position: relative;
	  // margin: 50px auto;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	}

	.hamburger span {
	  display: block;
	  position: absolute;
	  height: 6px;
	  width: 100%;
	  background: $fontGrey;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	.hamburger span:nth-child(1) {
	  top: 0px;
	}

	.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
	  top: 14px;
	}

	.hamburger span:nth-child(4) {
	  top: 28px;
	}

	.hamburger.open span:nth-child(1) {
	  top: 14px;
	  width: 0%;
	  left: 50%;
	}

	.hamburger.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.hamburger.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	.hamburger.open span:nth-child(4) {
	  top: 14px;
	  width: 0%;
	  left: 50%;
	}


}

header.mobile.open {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	z-index: 99999;
	.lower {
		ul.menu {
		top: 60px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 1;
		z-index: 9999;
		height: auto;
		max-height: 100%;
		overflow: scroll;
		li {
			display: list-item;
		}
	}
	}
}

header.fixed {
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	.upper {
		display: none;
		padding-top: 10px
	}
}