/* MEDIA QUERIES */

@media screen and (max-width: 1230px) {
    .fourBoxes .upper .backgroundLeft, .fourBoxes .lower .backgroundLeft {
        background-position: -45% center;
    }
    .fourBoxes .upper .backgroundRight, .fourBoxes .lower .backgroundRight {
        background-position: 145% center;
    }
}

@media screen and (max-width: 1200px) {
	header.desktop .lower .container .logo {
        width: 150px;
    }
    header.desktop .lower .container ul li a {
        letter-spacing: 1px;
    }

    .hero .container .leftSide {
        width: 50%;
    }

    .hero .container .rightSide {
        width: 50%;
    }
}

@media screen and (max-width: 1150px) {
    .hero {
        background-position: 0% bottom;
    }
    header.desktop .upper .container .phoneNumber a {
        color: white;
    }
}

@media screen and (max-width: 1090px) {
    .hero {
        // background-position: 50% bottom;
    }
    header.desktop .lower .container ul li a {
        letter-spacing: 0;
    }
    .fourBoxes {
        .upper {
            margin-bottom: 1%;
        }
        .upper, .lower {
            height: auto;
            // margin-top: 30px;
            // margin-bottom: 30px;
            .backgroundLeft {
                height: 50%;
                width: 98%;
                top: 0;
                left: 0;
                background-position: left center;
                
            }
            .backgroundRight {
                height: 48%;
                width: 98%;
                bottom: 0;
                right: 0;
                background-position: right center;
            }
            .container {
                // background-color: pink;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;
                .leftSide {
                    width: 50%;
                    height: 50%;
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                .rightSide {
                    width: 50%;
                    height: 50%;
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1030px) {
    header.desktop {
        display: none;
    }
    header.mobile {
        display: block;
    }

    .heroHome, .eliteHero, .echoHero {
        padding-top: 0;
        padding-bottom: 0;
        .container {
            // display: block;
            position: relative;
            padding: 0;
            height: 100%;
            .leftSide {
                position: absolute;
                width: 100%;
                height: 100%; 
                background-color: rgba(0, 174, 238, 0.9);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                bottom: 0;
            }
            .rightSide {
                // position: absolute;
                width: 100%;
                height: 100%;
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }
    }
    
    .twoSystems .twoColumns {
        flex-wrap: wrap;
        .leftSide, .rightSide {
            width: 90%;
            margin-top: 30px;
        }
    } 

    .twoSystems .greyBox {
        height: 80%;
    }

    .hardware .rightBackground {
        display: none;
    }

    .hardware .container .hardwareListing {
        width: 100%;
        // background-color: rgba(255,255,255,0.8);
        p {
            width: 100%;
        }
        .optionBox {
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
               margin-right: 20px;
           }
        }
        .devices {
            width: 100%;
        }
    } 
    
    .hardware .container .hardwareImage {
        display: none;
    }

    .twoColumnsSection {
        .container {
            flex-wrap: wrap;
            .column {
                width: 90%;
                margin: 15px;
            }
        }

    }

    .imageLeftTextRight .container {
        .imageBox {
            width: 80%;
        }
        .textBox {
            width: 100%;
        }
    }

    .twoImageRight, .twoImageLeft {
        .background {
            width: 20%;
        }
        .container {
            .textBox {
                width: 80%;
            }
        
            .imgBox {
                width: 20%;
                img {
                    width: 100%;
                }
            }
        }

    } 

    .greyLists .container {
        flex-wrap: wrap;
        .list {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 10%;
            margin-right: 10%;
            h3 {
                width: 100%;
            }
        }
    }

    .solutionsList {
        margin-bottom: 0;
    }
    
    .fourBoxes {
        .upper, .lower {
            .container {
                background-color: rgba(255,255,255,0.9);
            }
        }
    }

    .fourBoxes .upper .container .leftSide, .fourBoxes .lower .container .leftSide, .fourBoxes .upper .container .rightSide, .fourBoxes .lower .container .rightSide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landingMain .container {
        .leftSide, .rightSide {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    

}

@media screen and (max-width: 800px) {
    .hero .container .buttonBox {
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            margin: 10px;
        }
    }
    

    footer {
        padding-top: 0;
        .container {
            flex-wrap: wrap;
            .column {
                width: 100%;
                margin-top: 20px;
            }
        } 
    } 

    .hbspt-form form .field {
        width: 100% !important;
        .input input {
            width: 100% !important;
        }
    }

    .hbspt-form form .field .input select {
        width: 100% !important;
    }

}


@media screen and (max-width: 600px) {
	.solutionsList .container .imageGrid .imageBox {
        width: 33%;
    }
}
