/* background dots */

/* home page */

body .wrapper .innerWrapper .inner {
	// background-color: green;
	.circle {
		position: absolute;
	}
	.circle1 {
		width: 40%;
		top: 60%;
		right: 0;
	}

	.circle2 {
		width: 28%;
		top: 26%;
		left: 0;
	}

	.circle3 {
		width: 3%;
		top: 10%;
		left: 15%;
	}

	.circle4 {
		width: 2%;
		top: 7%;
		left: 8%;
	}

	.circle5 {
		width: 5%;
		top: 35%;
		right: 12%;
	}

	.circle6 {
		width: 4%;
		    top: 4%;
		    left: 6%;
	}

	.circle7 {
		width: 2%;
		top: 15%;
		left: 36%;
	}

	.circle8 {
		width: 6%;
		top: 17%;
		right: 15%;
	}

	.circle9 {
		width: 3%;
		top: 12%;
		left: 40%;
	}

	.circle10 {
		width: 5%;
		top: 22%;
		left: 15%;
	}

	.circle11 {
		width: 3%;
		top: 52%;
		left: 7%;
	}

	.circle12 {
		width: 7%;
		top: 55%;
		right: 30%;
	}

	.circle13 {
	    width: 4%;
	    top: 63%;
	    left: 30%;
	}

	.circle14 {
	    width: 7%;
	    top: 55%;
	    right: 30%;
	}
	.circle15 {
		width: 40%;
		top: 80%;
		right: 0;
	}

	.circle16 {
		width: 28%;
		top: 63%;
		left: 0;
	}

	.circle17 {
		width: 3%;
		top: 55%;
		left: 15%;
	}

	.circle18 {
		width: 2%;
		top: 54%;
		left: 8%;
	}

	.circle19 {
		width: 5%;
		top: 67%;
		right: 12%;
	}

	.circle20 {
		width: 4%;
		top: 94%;
		left: 6%;
	}

	.circle21 {
		width: 2%;
		top: 98%;
		left: 36%;
	}

	.circle22 {
		width: 6%;
		top: 88%;
		right: 15%;
	}

	.circle23 {
		width: 3%;
		top: 75%;
		left: 40%;
	}

	.circle24 {
		width: 5%;
		top: 80%;
		left: 15%;
	}

	.circle25 {
		width: 3%;
		top: 77%;
		left: 7%;
	}

	.circle26 {
		width: 7%;
		top: 90%;
		right: 30%;
	}

	.circle27 {
	    width: 4%;
	    top: 89%;
	    left: 30%;
	}

	.circle28 {
	    width: 7%;
	    top: 94%;
	    right: 30%;
	}
}

body {
	// display: none;
}