/* BLOG */

.blog {
	header {
		z-index: 9;
	}
	.wrapper {
		// padding-top: 140px;
		overflow: visible;
	}

	.hero .container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		p {
			text-align: center;
			color: white;
			margin: 20px;
		}
	} 

	.banner.bannerListing .container {
		padding: 3% 0;
	}

	form.hs-form {

		.hs_submit .actions input {
			border-radius: 10px;
			text-decoration: none;
			padding: 8px 25px;
			font-weight: 400;
			font-size: 22px;
			text-align: center;
			min-width: 200px;
			transition: $transition;
			border: 2px solid transparent;
			background-color: $blue;
  			color: white;
		}
		.hs_submit .actions input:hover {
			 background-color: white;
			color: $blue;
			border: 2px solid $blue;
		}
		.hs-fieldtype-radio {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.field {
			.input {
				width: 100%;
				input, select {
					border: none;
					background-color: #e8e7e8;
					height: 40px;
					// margin-bottom: 20px;
					width: 100%;
					border-radius: 5px;
					padding-left: 10px;
					font-size: 1.8em;
				}
				ul li {
					list-style: none;
				}
			} 
			label {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 1.6em;
				text-transform: uppercase;
				.hs-form-required {
					display: none;
				}
				input {
					height: 1.2em;
					width: 5% !important;
				}
			}
		} 

		.field .input label {
			text-transform: capitalize;
		}
	} 

	h1 {
		// text-transform: uppercase;
		color: white;
		font-size: 4em;
		line-height: 1;
		// letter-spacing: 1px;
		// font-weight: 600;
	}

	.listingPageContent {
		margin-top: 60px;
		margin-bottom: 100px;
		.container {
			display: flex;
			.blog-section {
				width: 66.6%;
				.post-listing {
					.post-group {
						display: flex;
						flex-wrap: wrap;
					}

					.post-item {
						width: 47%;
						margin: 1%;
						box-shadow: $boxShadow;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						.postImg {
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							height: 300px;
							display: block;
							position: relative;
							span {
								// display: none;
								opacity: 0;
								width: 100%;
								height: 100%;
								background-color: rgba(255,255,255,0.5);
								display: flex;
								justify-content: center;
								align-items: center;
								transition: $transition;
								color: $fontGrey;
								font-size: 2.4em;
								// text-transform: uppercase;
							}
						}
						.postText {
							display: block;
							padding: 5% 5% 0 5%;
							transition: all 0.2s ease;
							.postTitle {
								padding-top: 10px;
								padding-bottom: 10px;
								font-size: 2em;
								// line-height: 26px;
								line-height: 1;
								font-weight: 400;
							}
						}

						h3 {
							text-transform: initial;
							padding-bottom: 0;
							transition: all 0.3s ease;
							margin: 0;
						}

						a {
							color: black;
							text-decoration: none;
							display: block;
						}

						a:hover .postImg span,
						a:focus .postImg span{
							opacity: 0;
						}

						a:hover .postText .postTitle {
							color: $red;
						}

						.postDate {
							margin: 0;
							font-size: 12px;
							color: grey;
							text-transform: uppercase;
							// padding-left: 5%;
							display: flex;
							justify-content: center;
							align-items: center;
							font-weight: 400;
							padding-bottom: 20px;
							a {
								font-size: 1em;
								display: inline;
							}
						}


					}
				}
			}
			.sidebar {
				width: 33.3%;
				padding-left: 30px;
				h3 {
					font-size: 4em;
					margin-bottom: 20px;
					font-weight: 400;
					line-height: 1;
					text-transform: uppercase;
				}
				.sidebar-subscribe {
					margin-top: 2%;
					.hbspt-form form.hs-form {
						flex-direction: column;
						.field {
							width: 100%;
						}
					}
				}
				.sidebar-posts {
					margin-top: 40px;
					a {
						text-decoration: none;
						color: $fontGrey;
						display: block;
						margin-bottom: 20px;
						p.postTitle {
							font-size: 1em;
							line-height: 16px;
						}
						p.postDate {
							font-size: 1em;
						}
					}

				}
				.sidebar-topic {
					margin-top: 40px;
					ul {
						padding-left: 0;
						li {
							list-style: none;
							font-size: 1em;
							a {
								color: $fontGrey;
								text-decoration: none;
								transition: all 0.3s;
							}

							a:hover {
								color: $darkGrey;
							}
						}
					}
				}
			}
		}
	}
}

h2.hs-author-name {
	font-size: 24px;
	text-transform: uppercase;
}

.hs-author-avatar img {
	max-width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

h3.specialListingHeader {
	border-top: 3px solid rgba(0,0,0,0.08);
	padding-top: 20px;
	margin-top: 50px;
	font-size: 22px;
	font-size: black;
}

.authorPageSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	img {
		width: 150px;
		height: 150px;
		border-radius: 5px;
		margin-right: 5%;
	}
}

.authorPageDesc {
	color: black;

	h2 {
		display: inline-block;
		margin-bottom: 15px;
		// border-bottom: 2px solid $green;
		padding-bottom: 5px;
	}
}

ul.pagination {
	margin: 20px 2% 0;
}

ul.pagination li {
	display: inline-block;

	&.disabled {
		display: none;
	}

	&.pagArrow a {
		border: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		width: auto;

		&:hover,
		&:focus {
			background: none;
			border: 0;
			// color: $green;
		}
	}
}

ul.pagination li a {
	display: inline-block;
	border: 1px solid grey;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	text-align: center;
	padding: 5px;
	margin: 2px;
	text-decoration: none;
	color: grey;
	line-height: 1;
}

ul.pagination li a:hover,
ul.pagination li a:focus,
ul.pagination li.active a {
	background: black;
	color: white;
	border: 1px solid black;
}

/* Post Detail Page */

// .postFeaturedImage {
// 	background-size: cover;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	position: relative;
// 	height: initial;
// 	min-height: initial;
// 	text-shadow: 0 0 30px rgba(0,0,0,0.3);

// 	&:after {
// 		position: absolute;
// 		content: "";
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		background: rgba(0,0,0,0.5);
// 	}
// }

.postHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 4%;

	h3,
	p {
		color: grey;
		font-size: 16px;
		padding: 5px 0;
		line-height: 1.4;
		a {
			font-size: 1em;
		}
	}

	a {
		color: $red;
		text-decoration: none;
		line-height: 1.4;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.fontChange {
		font-size: 20px;
		font-weight: 600;
		background: lightgrey;
		padding: 5px 12px;
		color: grey;
		opacity: 0.5;

		&:hover,
		&:focus {
			opacity: 1;
			text-decoration: none;
		}
	}
}

.topicsSection {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	p {
		padding-right: 35px;
	}
}

.full-blog-section .banner .container {
	padding-bottom: 8%;
}

.full-blog-section > .container {
	position: relative;
	padding: 6% 12%;
	max-width: 1200px;
}

.blogSubscribeBar {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 999999;
	// width: 110%;
    // transform: translateX(-5%);
	p {
		font-size: 2.4em;
		margin-bottom: 20px;
	}
	.container .hbspt-form form {
		display: flex;
		justify-content: center;
		.field {
			padding: 0 10px;
			width: 35%;
			// max-width: 280px;	
			display: flex;
			justify-content: center;
			align-items: center;
			.input {
				width: 100%;
				input, select {
					border: none;
					background-color: #e8e7e8;
					height: 40px;
					// margin-bottom: 20px;
					width: 100%;
					border-radius: 5px;
					padding-left: 10px;
					font-size: 1.8em;
				}
			} 
		}
		.hs_submit {
			width: auto;
			.actions input {
				margin-top: 0;
				border-radius: 10px;
				text-decoration: none;
				padding: 8px 25px;
				font-weight: 400;
				font-size: 22px;
				text-align: center;
				min-width: 200px;
				transition: $transition;
				border: 2px solid transparent;
				background-color: $blue;
  				color: white;
			}
			.actions input:hover {
				background-color: white;
				color: $blue;
				border: 2px solid $blue;
			}
		}
	}

	form.hs-form .field .input {
		margin-bottom: 0;
	}
}

.full-blog-section img {
	max-width: 100%;
}

.full-blog-section {
	// .postDate {
	// 	text-transform: uppercase;
	// 	color: white;
	// 	font-weight: 600;
	// }
}

.about-author-sec {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 4% auto 0;
	padding-top: 4%;
	border-top: 1px solid grey;
	color: $fontGrey;

	img {
		border-radius: 50%;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	p, span {
		font-size: 14px;
	}

	h3 {
		font-size: 18px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	.hs-author-social-links {
		display: inline;
		padding-left: 10px;
	}

	.authorDesc {
		width: 85%;
		margin-left: 5%;
	}
}

.authorSocial {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;

	> span {
		font-weight: 600;
	}
}

.authorSocialLinksGroup {
	margin-left: 10px;
	display: flex;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		color: white;
		border-radius: 5px;
		margin: 2px;
		text-decoration: none;
		opacity: 0.8;

		&:hover,
		&:focus {
			opacity: 1;
		}

		&.facebookBtn {
			background: #3b5998;
		}

		&.linkedinBtn {
			background: #007bb6;
		}

		&.twitterBtn {
			background: #00aced;
		}

		&.googleplusBtn {
			background: #dd4b39;
		}
	}
}

.post-body,
.lpContent {
	> span > * {
		transition: $transition;
	}

	p, li {
		font-size: 18px;
		color: $fontGrey;
	}

	p {
		padding: 10px 0;
	}

	span {
		font-size: inherit;
	}

	a {
		color: $red;
		text-decoration: none;
		font-size: inherit;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	h2,
	h3,
	h4,
	h5 {
		color: #062f68;
		font-weight: 400;
		font-size: 30px;
		font-weight: 600;
		text-align: left !important;
		padding: 15px 0 5px;
	}

	h3 {
		// font-size: 26px;
	}

	h4 {
		// font-size: 22px;
	}

	h5 {
		// font-size: 18px;
	}

	ol,
	ul {
		padding: 8px 0 8px 1em;
		margin: 0;

		li {
			padding: 0 0 5px 10px;
		}
	}
}

