/* HOME */
.hero {
	background-image: url("https://cdn2.hubspot.net/hubfs/3805695/SalesHub/homepage%20images/heroBackground.png");
	background-position: right top;
    background-repeat: no-repeat;
    background-size: 70%;
	height: 870px;
	padding-top: 120px;
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		h2 {
			margin-top: 50px;
		}
	}
} /* hero ends */

.hrNeeds {
	transition: $transition;
	padding: 0px 0 60px 0;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h3 {
			margin-bottom: 40px;
		}
		p {
			max-width: 680px;
			text-align: center;

		}
	}
} /* hrNeeds ends */

.servicesBlocks {
	margin-top: 60px;
	margin-bottom: 60px;
	.container {
		display: flex;
		.hs_cos_wrapper_widget_container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			div.hs_cos_wrapper_type_custom_widget {
				width: 25%;
				.serviceBlock {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					text-align: center;
					padding: 12%;
					.imageBox {
						background-color: white;
						box-shadow: $boxShadow;
						width: 100px;
						height: 100px;
						border-radius: $borderRadius;
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							width: 70%;
						}
					}
					h4 {
						font-size: 2.1em;
						margin-top: 30px;
						margin-bottom: 30px;
					}
					p {
						font-size: 1.9em;
						margin-bottom: 30px;
						line-height: 23px;	
					}

					a {
						color: #062f67;
						text-decoration: none;
						transition: $transition;
					}

					a:hover {
						color: $orange;
					}
				}
			}
		}
	}
} /*servicesBlocks ends */

.videoSection {
	background-image: url(https://cdn2.hubspot.net/hubfs/3805695/SalesHub/homepage%20images/videoSectionBackground.png);
	// background-color: pink;
	height: 600px;
	background-repeat: no-repeat;
	background-size: 55%;
	background-position: left center;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		.inner {
			display: flex;
			width: 100%;
			.leftSide {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 45%;
				.wistia_responsive_padding {
					a {
						color: white;
						// font-size: 80px;
						text-decoration: none;
						i {
							font-size: 120px;
						    background: $orangeGradient;
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    border-radius: 50%;
						    height: 100px;
						    opacity: 0.8;
						    transition: $transition;
						}
						i:hover {
							opacity: 1;
						}

					}
				}
			}
			.rightSide {
				width: 55%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background-color: white;
				border-radius: $borderRadius;
				padding: 40px;
				box-shadow: $boxShadow;
				p {
					text-align: center;
					margin: 40px 0;
				}

				a {
					color: $orange;
					text-decoration: none;
					font-size: 2.6em;
				}
			}
		}
	}
} /* video section ends */

.threeBoxes {
	height: 1020px;
	margin-top: 90px;
	margin-bottom: 90px;
	.container {
		height: 100%;
		display: flex;
		.leftSide {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-right: 10%;
			h3, p {
				// text-align: center;
			}

			h3 {
				margin-bottom: 40px;
			}
		}
		.rightSide {
			width: 50%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			.box {
				height: 470px;
				width: 46%;
				margin: 2%;
				margin-top: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: $borderRadius;
				padding: 5%;
				box-shadow: $boxShadow;
				img {
					width: 30%;
				}
				h4, p {
					color: white;
					text-align: center;
				}

				h4 {
					font-size: 2.4em;
					margin: 30px 0;
				}

				p {
					font-size: 1.6em;
					line-height: 20px;
				}
			}

			.box.orange {
				background-color: #ff9708;
				margin-top: 250px;
			}
			.box.red {
				background-color: #e46043;
			}
			.box.blue {
				background-color: #5db8ca;
			}
		}
	}
} /* 3 boxes ends */

.circleImage {	
	.container {
		display: flex;
		.leftSide, .rightSide {
			width: 50%;
			padding: 5%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img {
				border-radius: 50%;
			}

			h3 {
				line-height: 40px;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 20px;
			}
		}

	}
} /* circle image ends */
