/*-----------------------------------------------------

[TABLE OF CONTENTS]

1. Imports
2. Variables
3. General Styles
4. Header
5. Footer
6. Home
7. Inner Pages
10. Media Queries

-------------------------------------------------------*/

/*--------
1. Imports
----------*/
/*Import fonts, plugins here*/
/*@import url('http://example.com/example_style.css');*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*--------
2. Variables
----------*/

/*Typography*/
$fontTitle: "museo-sans",sans-serif;
$fontMain: "museo-sans",sans-serif;
$transition: all 0.3s ease;


/*Colours*/
/*$variable: value;*/
$fontGrey: #3f3f3f;
$lightGrey: #f9f9f9;
$darkGrey: #3e3e3e;
$darkBlue: #016ba7;
$blue: #00aeef;
$red: #e33c2c;
$skew: -3deg;
$boxShadow: 0px 0px 20px 0px rgba(0,0,0,0.3);


/*--------
3. General Styles
----------*/
@import 'global/setup';

body,
html {
	font-family: $fontMain;
	font-size: 10px;

}
body {
}

body.stopScroll {
	overflow: hidden;
}

.wrapper {
	// max-width: 1700px;
	// margin: 0 auto;
	// z-index: -10;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: $fontTitle;
	color: $fontGrey;
	font-weight: 300;
	transition: $transition;
	max-width: 100%;
}

h1 {
	font-size: 3em;
	// letter-spacing: -2px;
	max-width: 100%;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.8em;
}

p {
	font-size: 1.6em;
	max-width: 100%;
	font-weight: 300;
	line-height: 1.8;
  transition: $transition;
  font-family: $fontMain;
  span.blue {
	  color: $blue;
  }
}

a {
	font-size: 1.8em;
  transition: $transition;
  font-weight: 300;
}

img {
	max-width: 100%;
	width: 100%;
	transition: $transition;
	height: auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding-right: 10px;
  padding-left: 10px;
}

.button {
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 15px;
	border: 1px solid transparent;

}

.button.blue {
	background-color: $blue;
	color: white;

}

.button.blue:hover {
	color: $blue;
	background-color: white;
	border: 1px solid $blue;
}

.button.white {
	background-color: white;
	color: $blue;
}

.button.white:hover {
	color: white;
	border: 1px solid white;
	background-color: transparent;
}

.videoBox {
	display: none;
	.stop-video {
		.x {
			width: 50px;
			height: 50px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				width: 100%;
				height: 6px;
				background-color: white;
				display: block;
				border-radius: 5px;
				position: absolute;
				transition: $transition;
			}
			span:nth-of-type(1) {
				transform: rotate(45deg);
			}
			span:nth-of-type(2) {
				transform: rotate(135deg);
			}
		}
	}
	.stop-video:hover .x span {
		background-color: $blue;
	}
}

.videoBox:hover {
	cursor: pointer;
}

.videoBox.active {
	position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 999999999999999999999999;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		position: absolute;
		top: 0;
		right: 0;
	}
	iframe {
		width: 90%;
		height: 80%;
		position: absolute;
		border: none;
	}
}

/*--------
Partials
----------*/

@import 'global/header';
@import 'global/footer';
@import 'pages/home';
@import 'pages/innerPages';
// @import 'pages/pillarPage';
@import 'pages/blog';
@import 'global/mediaQueries';