/*-----------------------------------------------------

[TABLE OF CONTENTS]

1. Imports
2. Variables
3. General Styles
4. Header
5. Footer
6. Home
7. Inner Pages
10. Media Queries

-------------------------------------------------------*/
/*--------
1. Imports
----------*/
/*Import fonts, plugins here*/
/*@import url('http://example.com/example_style.css');*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
/*--------
2. Variables
----------*/
/*Typography*/
/*Colours*/
/*$variable: value;*/
/*--------
3. General Styles
----------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

p, a, li {
  line-height: 1.6; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body,
html {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  color: #464646;
  font-weight: 400; }

a {
  transition: all 0.3s ease; }

.container {
  max-width: 1200px;
  margin: auto; }

.button {
  font-size: 18px;
  color: white;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid transparent;
  min-width: 240px;
  text-align: center;
  font-weight: 300; }

.button.turqoise {
  background-color: #1bbab9; }

.button.turqoise:hover {
  background-color: white;
  color: #1bbab9;
  border: 1px solid #1bbab9; }

.button.black {
  background-color: black; }

.button.black:hover {
  background-color: white;
  color: black;
  border: 1px solid black; }

.button.green {
  background-color: #98ca3b; }

.button.green:hover {
  background-color: white;
  color: #98ca3b;
  border: 1px solid #98ca3b; }

.button.white {
  border: 1px solid white; }

.button.white:hover {
  border: 1px solid black;
  color: black; }

.bookAppointment {
  color: #1bbab9;
  text-decoration: none;
  border-bottom: 1px dashed #1bbab9;
  padding-bottom: 5px;
  font-size: 18px; }

.bookAppointment:hover {
  color: #98ca3b;
  border-bottom: 1px dashed #98ca3b; }

/*--------
Partials
----------*/
/* Header */
.mobileTrigger {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: all 1s ease; }
  .mobileTrigger .upperBar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .mobileTrigger .upperBar .logo {
      padding-left: 10px;
      padding-top: 10px; }
    .mobileTrigger .upperBar .hamburger {
      display: block;
      padding-top: 20px;
      padding-right: 20px;
      position: relative;
      width: 60px; }
      .mobileTrigger .upperBar .hamburger span {
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: #464646;
        display: block;
        border-radius: 5px;
        transition: all 0.3s ease; }
    .mobileTrigger .upperBar .hamburger:hover span {
      opacity: 0.6; }
    .mobileTrigger .upperBar .hamburger:focus {
      outline: none; }
  .mobileTrigger .mobileMenu {
    height: 0;
    max-height: 0;
    overflow: hidden; }

.mobileTrigger.active {
  bottom: 0; }
  .mobileTrigger.active .upperBar .hamburger span {
    margin-bottom: 0; }
  .mobileTrigger.active .upperBar .hamburger span:nth-child(1) {
    position: absolute;
    top: 35px;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .mobileTrigger.active .upperBar .hamburger span:nth-child(2) {
    display: none; }
  .mobileTrigger.active .upperBar .hamburger span:nth-child(3) {
    position: absolute;
    top: 35px;
    -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
  .mobileTrigger.active .mobileMenu {
    height: auto;
    max-height: 100%; }

header .upper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px; }
  header .upper .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    header .upper .container .phoneAndSocial {
      display: -ms-flexbox;
      display: flex; }
      header .upper .container .phoneAndSocial .phone {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        margin-right: 80px; }
        header .upper .container .phoneAndSocial .phone a {
          text-decoration: none;
          color: #464646;
          font-size: 20px; }
      header .upper .container .phoneAndSocial .socialLinks ul {
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        header .upper .container .phoneAndSocial .socialLinks ul li {
          list-style: none; }
          header .upper .container .phoneAndSocial .socialLinks ul li a {
            background-color: #464646;
            color: white;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: inline-block;
            font-size: 24px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            text-decoration: none;
            margin-right: 10px;
            border: 1px solid transparent; }
          header .upper .container .phoneAndSocial .socialLinks ul li a:hover {
            color: #464646;
            border: 1px solid #464646;
            background-color: white;
            opacity: 0.5; }

header .divider {
  height: 1px;
  width: 100%;
  background-color: #8c989c;
  opacity: 0.7; }

header .lower {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px; }
  header .lower .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    header .lower .container .logo {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
    header .lower .container .mainNav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      header .lower .container .mainNav ul {
        display: -ms-flexbox;
        display: flex; }
        header .lower .container .mainNav ul li {
          list-style: none; }
          header .lower .container .mainNav ul li a {
            color: #464646;
            text-decoration: none;
            font-size: 16px;
            text-transform: uppercase;
            padding-right: 8px;
            padding-left: 8px; }
          header .lower .container .mainNav ul li a:hover {
            opacity: 0.5; }
        header .lower .container .mainNav ul li.hasChild ul {
          display: none; }
    header .lower .container .bookAppointment {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      border-bottom: none; }

/* Footer */
footer .container {
  margin-top: 60px; }
  footer .container .dividerBar {
    width: 100%;
    height: 2px;
    background-color: #8c989c;
    opacity: 0.4;
    width: 80%;
    margin: 0 auto; }
  footer .container .footerNav {
    margin-top: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    padding-left: 80px;
    padding-right: 80px; }
    footer .container .footerNav .box {
      width: 25%;
      max-height: 300px; }
      footer .container .footerNav .box ul li {
        list-style: none; }
        footer .container .footerNav .box ul li a {
          color: #464646;
          text-decoration: none;
          text-transform: uppercase; }
    footer .container .footerNav .box.logins {
      padding-right: 30px; }
      footer .container .footerNav .box.logins ul li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px; }
        footer .container .footerNav .box.logins ul li img {
          position: absolute;
          top: 0;
          left: -10px; }
    footer .container .footerNav .box.nav li {
      margin-bottom: 15px; }
    footer .container .footerNav .box.twitter {
      border: 2px solid #f9f9f9;
      border-radius: 5px; }
  footer .container .socialMedia ul {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    footer .container .socialMedia ul li {
      list-style: none; }
      footer .container .socialMedia ul li a {
        background-color: #464646;
        color: white;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        font-size: 24px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        text-decoration: none;
        margin-right: 10px;
        border: 1px solid transparent; }
      footer .container .socialMedia ul li a:hover {
        color: #464646;
        border: 1px solid #464646;
        background-color: white;
        opacity: 0.5; }
  footer .container .copyright {
    text-align: center;
    margin-top: 20px; }
    footer .container .copyright p {
      font-size: 12px; }

/* HOME */
.hero .container {
  background-image: url("https://cdn2.hubspot.net/hubfs/3424896/saleshub/heroBackground.png");
  background-size: cover;
  background-position: center; }
  .hero .container .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; }
    .hero .container .overlay h1 {
      font-size: 42px;
      color: white;
      font-weight: 400;
      max-width: 640px;
      padding-top: 300px;
      padding-left: 60px;
      padding-bottom: 30px; }
    .hero .container .overlay h2 {
      font-family: "Open Sans", sans-serif;
      color: white;
      font-weight: 300;
      padding-left: 60px;
      max-width: 600px;
      font-size: 22px;
      padding-bottom: 100px; }

.whiteBanner {
  padding-top: 80px;
  padding-bottom: 80px; }
  .whiteBanner .container {
    text-align: center; }
    .whiteBanner .container h2 {
      font-size: 40px; }
    .whiteBanner .container p {
      max-width: 480px;
      margin: 30px auto;
      font-size: 20px;
      font-weight: 300; }
    .whiteBanner .container h2.large {
      font-size: 50px;
      text-align: center;
      font-weight: 400; }

.imageGrid .container {
  display: -ms-flexbox;
  display: flex;
  height: 660px; }
  .imageGrid .container .leftColumn {
    width: 33.3%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%; }
    .imageGrid .container .leftColumn .textBox {
      height: 40%; }
    .imageGrid .container .leftColumn .imageBox {
      height: 60%;
      background-image: url("https://cdn2.hubspot.net/hubfs/3424896/saleshub/boySmilePlaceholder.png");
      background-size: cover;
      background-position: center; }
  .imageGrid .container .rightColumn {
    width: 66.6%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .imageGrid .container .rightColumn .upper, .imageGrid .container .rightColumn .lower {
      display: -ms-flexbox;
      display: flex; }
      .imageGrid .container .rightColumn .upper .imageBox, .imageGrid .container .rightColumn .lower .imageBox {
        width: 40%; }
      .imageGrid .container .rightColumn .upper .textBox, .imageGrid .container .rightColumn .lower .textBox {
        width: 60%; }
    .imageGrid .container .rightColumn .upper {
      height: 55%; }
      .imageGrid .container .rightColumn .upper .imageBox {
        background-image: url("https://cdn2.hubspot.net/hubfs/3424896/saleshub/teen-braces.png");
        background-size: cover;
        background-position: center; }
    .imageGrid .container .rightColumn .lower {
      height: 45%; }
      .imageGrid .container .rightColumn .lower .imageBox {
        background-image: url("https://cdn2.hubspot.net/hubfs/3424896/saleshub/olderWomanSmile.png");
        background-size: cover;
        background-position: center; }
  .imageGrid .container .textBox {
    background-color: #f9f9f9;
    margin: 5px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    .imageGrid .container .textBox p {
      max-width: 300px;
      margin-bottom: 20px; }
  .imageGrid .container .imageBox {
    margin: 5px; }
    .imageGrid .container .imageBox img {
      width: 100%; }

.imageSlider .container {
  background-color: #d4e6ed;
  padding: 20px;
  position: relative; }
  .imageSlider .container .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 24%; }
    .imageSlider .container .slick-dots li {
      list-style: none;
      display: inline-block; }
      .imageSlider .container .slick-dots li button {
        margin-right: 10px;
        background-color: #d4e6ed;
        border: 1px solid #8c989c;
        color: transparent;
        padding: 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1px;
        border-radius: 50%; }
      .imageSlider .container .slick-dots li button:focus {
        outline: none; }
    .imageSlider .container .slick-dots li.slick-active button {
      background-color: #8c989c; }
  .imageSlider .container .slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .imageSlider .container .slide .textBox {
      width: 50%;
      padding-left: 30px;
      padding-right: 30px; }
      .imageSlider .container .slide .textBox h2 {
        font-size: 38px;
        margin-bottom: 30px; }
    .imageSlider .container .slide .imageBox {
      width: 40%; }
      .imageSlider .container .slide .imageBox img {
        width: 100%; }

.imageTwoTextSections {
  padding-top: 60px; }
  .imageTwoTextSections .container {
    display: -ms-flexbox;
    display: flex; }
    .imageTwoTextSections .container .textBox {
      width: 60%;
      padding-left: 60px;
      padding-right: 60px; }
      .imageTwoTextSections .container .textBox div {
        margin-bottom: 30px; }
        .imageTwoTextSections .container .textBox div h2 {
          margin-bottom: 20px;
          font-size: 32px; }
        .imageTwoTextSections .container .textBox div p {
          font-size: 20px; }

.imageRightTextLeft .container {
  display: -ms-flexbox;
  display: flex; }
  .imageRightTextLeft .container .textBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 60px;
    padding-right: 60px; }
    .imageRightTextLeft .container .textBox h2 {
      font-size: 32px; }
    .imageRightTextLeft .container .textBox p {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 20px; }

.videoBanner .container {
  height: 580px;
  background-image: url("https://cdn2.hubspot.net/hubfs/3424896/saleshub/brushingTeeth.png");
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .videoBanner .container a i {
    color: white;
    font-size: 60px;
    border-radius: 50%;
    border: 4px solid white;
    padding: 5px 20px 5px 30px;
    transition: all 0.3s; }
  .videoBanner .container a:hover i {
    color: #1bbab9;
    border-color: #1bbab9; }

.turqoiseBanner {
  padding-top: 30px; }
  .turqoiseBanner .container {
    background-color: #1bbab9;
    text-align: center;
    padding: 60px 0; }
    .turqoiseBanner .container h2 {
      color: white;
      font-size: 48px; }
    .turqoiseBanner .container p {
      color: white;
      font-size: 20px;
      width: 30%;
      margin: 30px auto; }

/* LANDING PAGE */
.landingPage header {
  text-align: center;
  padding: 10px 0; }

.lpLogo {
  display: inline-block;
  width: 50%;
  max-width: 100px; }

.lpBanner {
  background: grey; }
  .lpBanner h1 {
    text-align: center;
    color: white;
    max-width: 1000px;
    margin: auto;
    text-transform: uppercase; }

.readMoreLP {
  display: none;
  text-align: center;
  color: grey;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-size: 14px; }

.lpContentSection .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }

.lpContent {
  width: 60%; }

.lpForm {
  width: 35%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 4%; }
  .lpForm h3 {
    text-align: center;
    color: grey;
    margin-bottom: 15px; }

/* RESOURCES */
.resourceBanner {
  position: relative;
  height: auto;
  min-height: 100%;
  background-position: center;
  background-size: cover; }

.resourceBanner p.itemTag {
  color: white; }

.resourceBanner:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); }

.resourceBanner .container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 84%;
  padding: 10% 8%; }

.resourceBanner h1 {
  max-width: 800px;
  margin: auto;
  text-align: center; }

.resourceBanner a {
  color: white;
  font-size: 30px; }

.resources .container {
  padding-top: 3%; }

.resourceTagsGroup .container {
  padding-bottom: 0; }

ul.resourceTags {
  padding: 0;
  text-align: center; }

ul.resourceTags li {
  list-style: none;
  display: inline-block; }

ul.resourceTags li a {
  display: block;
  text-decoration: none;
  padding: 8px 15px;
  margin: 5px;
  min-width: 80px;
  font-size: 14px;
  border: 2px solid black;
  color: black;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  transition: all 0.3s ease; }

ul.resourceTags li a:hover,
ul.resourceTags li a:focus,
ul.resourceTags li a.active {
  color: white;
  background: black; }

span#hs_cos_wrapper_Resources {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px; }

span#hs_cos_wrapper_Resources > div {
  width: 30%;
  margin: 1.5%; }

p.itemTag {
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  margin: 15px 0 10px; }

.resource {
  display: block;
  text-decoration: none;
  color: inherit;
  background: #ececec;
  border: 1px solid #ececec;
  transition: all 0.3s ease; }

.resource a {
  text-decoration: none; }

.resource h3,
.resource a h3 {
  text-align: center;
  font-size: 18px;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0 5%;
  margin: 0; }

.resource:hover .resText,
.resource:focus .resText {
  background: #fcfcfc; }

.resource:hover,
.resource:focus {
  text-decoration: none;
  background: #fcfcfc;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1); }

.resImg {
  height: 325px;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end; }

.resText {
  background: #ececec;
  transition: all 0.3s ease;
  padding: 15px 0;
  width: 100%;
  min-height: 70px; }

.resText .itemTag {
  margin-top: 0; }

.resource.resVid .resImg {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column; }

.resource.resVid .resImg .fa {
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 13px 12px 16px;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 20px;
  transition: all 0.3s ease; }

.resource.resVid:hover .resImg .fa,
.resource.resVid:focus .resImg .fa {
  background: rgba(0, 0, 0, 0.6); }

/* Error Pages */
.errorSection {
  text-align: center;
  min-height: 60vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .errorSection .container {
    padding-bottom: 10%; }
  .errorSection h1 {
    font-size: 200px;
    color: black;
    margin: 0 auto 20px; }
  .errorSection h2 {
    font-size: 28px;
    margin: 0 auto 50px;
    max-width: 500px; }

/* Thank You */
.thankYou {
  text-align: center;
  min-height: 70vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: grey; }
  .thankYou h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 15px; }
  .thankYou p {
    max-width: 600px;
    margin: auto;
    font-size: 18px; }
  .thankYou .mainBtn {
    margin-top: 20px; }

/* BLOG */
.blog .banner {
  position: relative;
  text-align: center;
  background: grey; }
  .blog .banner .container {
    max-width: 1000px;
    position: relative;
    padding: 10% 8%;
    z-index: 1; }

.blog h1 {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600; }

.bannerDate {
  margin: 0 auto 40px;
  color: white;
  font-weight: 600;
  text-transform: uppercase; }

.bannerTag {
  display: inline-block;
  background: white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5); }

h2.hs-author-name {
  font-size: 24px;
  text-transform: uppercase; }

.hs-author-avatar img {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 20px; }

h3.specialListingHeader {
  border-top: 3px solid rgba(0, 0, 0, 0.08);
  padding-top: 20px;
  margin-top: 50px;
  font-size: 22px;
  font-size: black; }

.post-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.post-item {
  width: 29%;
  margin: 2%; }

.post-item .postImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  display: block;
  position: relative; }

.post-item .postText {
  display: block;
  padding: 5% 5% 0 0;
  transition: all 0.2s ease; }

.post-item h3 {
  text-transform: initial;
  padding-bottom: 0;
  transition: all 0.3s ease;
  margin: 0; }

.post-item a {
  color: black;
  text-decoration: none; }

.post-item a:hover,
.post-item a:focus {
  text-decoration: none; }
  .post-item a:hover h3,
  .post-item a:focus h3 {
    color: grey; }

.post-item a:hover h3,
.post-item a:focus h3 {
  color: black; }

.post-item .postDate {
  margin: 0;
  font-size: 12px;
  color: grey;
  text-transform: uppercase; }

.authorPageSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }
  .authorPageSection img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 5%; }

.authorPageDesc {
  color: black; }
  .authorPageDesc h2 {
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 2px solid #98ca3b;
    padding-bottom: 5px; }

ul.pagination {
  margin: 20px 2% 0; }

ul.pagination li {
  display: inline-block; }
  ul.pagination li.disabled {
    display: none; }
  ul.pagination li.pagArrow a {
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: auto; }
    ul.pagination li.pagArrow a:hover, ul.pagination li.pagArrow a:focus {
      background: none;
      border: 0;
      color: #98ca3b; }

ul.pagination li a {
  display: inline-block;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  margin: 2px;
  text-decoration: none;
  color: grey;
  line-height: 1; }

ul.pagination li a:hover,
ul.pagination li a:focus,
ul.pagination li.active a {
  background: black;
  color: white;
  border: 1px solid black; }

/* Post Detail Page */
.postFeaturedImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: initial;
  min-height: initial;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
  .postFeaturedImage:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }

.postHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 4%; }
  .postHeader h3,
  .postHeader p {
    color: grey;
    font-size: 16px;
    padding: 5px 0;
    line-height: 1.4; }
  .postHeader a {
    color: blue;
    text-decoration: none;
    line-height: 1.4; }
    .postHeader a:hover, .postHeader a:focus {
      text-decoration: underline; }
  .postHeader .fontChange {
    font-size: 20px;
    font-weight: 600;
    background: lightgrey;
    padding: 5px 12px;
    color: grey;
    opacity: 0.5; }
    .postHeader .fontChange:hover, .postHeader .fontChange:focus {
      opacity: 1;
      text-decoration: none; }

.topicsSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }
  .topicsSection p {
    padding-right: 35px; }

.full-blog-section .banner .container {
  padding-bottom: 8%; }

.full-blog-section > .container {
  position: relative;
  padding: 6% 12%;
  max-width: 1200px; }

.blogSubscribeBar {
  position: relative;
  top: 0;
  background: #fcfcfc;
  text-align: center;
  z-index: 4;
  transition: all 0.3s ease; }
  .blogSubscribeBar .container {
    padding: 3% 8%;
    transition: all 0.3s ease; }
  .blogSubscribeBar p {
    display: inline-block;
    text-transform: uppercase;
    color: grey;
    border-bottom: 2px solid #98ca3b;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.3s ease; }
    .blogSubscribeBar p .fa {
      display: none; }
  .blogSubscribeBar.stickyBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    .blogSubscribeBar.stickyBar .container {
      padding: 10px 8%; }
    .blogSubscribeBar.stickyBar p {
      font-size: 12px;
      margin-bottom: 15px; }
  .blogSubscribeBar form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 0 auto;
    max-width: 900px; }
  .blogSubscribeBar label {
    display: none !important; }
  .blogSubscribeBar ul.hs-error-msgs {
    text-align: left; }
    .blogSubscribeBar ul.hs-error-msgs li {
      list-style: none; }
    .blogSubscribeBar ul.hs-error-msgs label {
      display: block !important;
      color: red;
      font-size: 12px; }
  .blogSubscribeBar .hs_email,
  .blogSubscribeBar .hs_notification_frequency {
    width: calc(35% - 20px);
    margin: 0 10px !important; }
  .blogSubscribeBar .hs_email input,
  .blogSubscribeBar .hs_notification_frequency select {
    -webkit-appearance: none;
    font-family: "Open Sans", sans-serif !important;
    padding: 10px !important;
    box-shadow: none !important;
    height: auto !important;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .blogSubscribeBar .hs_notification_frequency .input {
    position: relative; }
    .blogSubscribeBar .hs_notification_frequency .input:after {
      position: absolute;
      font-family: 'FontAwesome';
      content: "\f0d7";
      right: 15px;
      top: 10px;
      color: darkgrey; }
  .blogSubscribeBar .hs_submit {
    margin-top: 7px; }

.full-blog-section img {
  max-width: 100%; }

.full-blog-section .postDate {
  text-transform: uppercase;
  color: white;
  font-weight: 600; }

.about-author-sec {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 4% auto 0;
  padding-top: 4%;
  border-top: 1px solid grey;
  color: #464646; }
  .about-author-sec img {
    border-radius: 50%; }
  .about-author-sec a {
    color: inherit;
    text-decoration: none; }
  .about-author-sec p, .about-author-sec span {
    font-size: 14px; }
  .about-author-sec h3 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .about-author-sec .authorDesc {
    width: 85%;
    margin-left: 5%; }

.authorSocial {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px; }
  .authorSocial > span {
    font-weight: 600; }

.authorSocialLinksGroup {
  margin-left: 10px;
  display: -ms-flexbox;
  display: flex; }
  .authorSocialLinksGroup a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin: 2px;
    text-decoration: none;
    opacity: 0.8; }
    .authorSocialLinksGroup a:hover, .authorSocialLinksGroup a:focus {
      opacity: 1; }
    .authorSocialLinksGroup a.facebookBtn {
      background: #3b5998; }
    .authorSocialLinksGroup a.linkedinBtn {
      background: #007bb6; }
    .authorSocialLinksGroup a.twitterBtn {
      background: #00aced; }
    .authorSocialLinksGroup a.googleplusBtn {
      background: #dd4b39; }

.post-body > span > *,
.lpContent > span > * {
  transition: all 0.3s ease; }

.post-body p, .post-body li,
.lpContent p,
.lpContent li {
  font-size: 18px;
  color: #464646; }

.post-body p,
.lpContent p {
  padding: 10px 0; }

.post-body span,
.lpContent span {
  font-size: inherit; }

.post-body a,
.lpContent a {
  color: blue;
  text-decoration: none;
  font-size: inherit; }
  .post-body a:hover, .post-body a:focus,
  .lpContent a:hover,
  .lpContent a:focus {
    text-decoration: underline; }

.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.lpContent h2,
.lpContent h3,
.lpContent h4,
.lpContent h5 {
  color: grey;
  font-weight: 400;
  font-size: 30px;
  font-weight: 600;
  text-align: initial;
  padding: 15px 0 5px; }

.post-body h3,
.lpContent h3 {
  font-size: 26px; }

.post-body h4,
.lpContent h4 {
  font-size: 22px; }

.post-body h5,
.lpContent h5 {
  font-size: 18px; }

.post-body ol,
.post-body ul,
.lpContent ol,
.lpContent ul {
  padding: 8px 0 8px 1em;
  margin: 0; }
  .post-body ol li,
  .post-body ul li,
  .lpContent ol li,
  .lpContent ul li {
    padding: 0 0 5px 10px; }

/* MEDIA QUERIES */
@media screen and (max-width: 1150px) {
  header {
    display: none; }
  .mobileTrigger {
    display: block; }
  body {
    padding-top: 80px; } }

@media screen and (max-width: 850px) {
  /* Blog */
  .post-item {
    width: 46%; }
  /* Resources */
  span#hs_cos_wrapper_Resources > div {
    width: 47%; } }

@media screen and (max-width: 767px) {
  /* Blog */
  .listingPageContent .blog-section {
    width: 100%; }
  .postHeader {
    display: block; }
  .about-author-sec {
    display: block; }
    .about-author-sec .authorDesc {
      width: 100%;
      margin: 20px 0 0; }
  /* Blog */
  .blogSubscribeBar p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
    color: white;
    border: none;
    background: #98ca3b; }
    .blogSubscribeBar p .fa {
      display: inline-block;
      transition: all 0.3s ease; }
    .blogSubscribeBar p.formOpen .fa {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  .blogSubscribeBar form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
    margin-top: 30px; }
  .blogSubscribeBar .hs_email,
  .blogSubscribeBar .hs_notification_frequency {
    width: 100%;
    margin: 0 0 20px !important; }
  .blogSubscribeBar .hs_submit {
    width: 200px;
    text-align: left; }
  .blogSubscribeBar.stickyBar {
    position: relative;
    box-shadow: none; }
    .blogSubscribeBar.stickyBar .container {
      padding: 3% 8%; }
    .blogSubscribeBar.stickyBar p {
      font-size: 14px;
      padding-bottom: 5px;
      margin: 0; }
  /* Landing Page */
  .lpContentSection .container {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .readMoreLP {
    display: inline-block; }
  .lpContent {
    width: 100%;
    display: none; }
  .lpForm {
    width: 100%;
    max-width: 500px; } }

/* End max-width: 767px */
@media screen and (max-width: 530px) {
  /* Blog */
  .post-group {
    display: block; }
  .post-item {
    width: initial;
    margin: 6% auto; }
    .post-item .postImg {
      height: 150px; }
  .authorPageSection {
    display: block; }
    .authorPageSection img {
      margin: 0 0 20px; }
  /* Resources */
  span#hs_cos_wrapper_Resources > div {
    width: 100%;
    margin-bottom: 30px; }
  /* Error Pages */
  .error h1 {
    font-size: 100px; }
  .error h2 {
    font-size: 22px; }
  /* Landing Page */
  .lpBanner h1 {
    font-size: 22px; } }

/* End max-width: 530px */
